# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/.sbtserver
/project/.sbtserver.lock
/target
/js/target
/jvm/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
.ensime
.ensime_cache/
.idea/
.sbtserver/
RUNNING_PID
project/play-fork-run.sbt
project/sbt-ui.sbt
project/project/
project/target/
.DS_STORE
/tutorial/.DS_STORE